<div *ngIf="!isLoading">
    <div class="container">
        <div class="profile">

            <div class="profile-image">

                <img [src]="bioData.profilePicture" alt="">
            </div>

            <div class="profile-user-settings">

                <h1 class="profile-user-name">{{bioData.username}}</h1>

                <a class="btn profile-edit-btn" *ngIf="isSelfProfile" routerLink="/profile/{{bioData.id}}/edit">Edit Profile</a>
                <a class="btn profile-edit-btn" style="border-color:  rgb(133, 36, 36);color:  rgb(133, 36, 36);"
                    *ngIf="!isSelfProfile&&bioData.isFollowing" (click)="unFollow()">unfollow</a>
                <a class="btn profile-edit-btn" style="background-color:  rgb(133, 36, 36);color: antiquewhite;"
                    *ngIf="!isSelfProfile&&!bioData.isFollowing" (click)="follow()">follow</a>

                <!--<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button> -->

            </div>

            <div class="profile-stats">

                <ul>
                    <li><span class="profile-stat-count">{{bioData.postsCount}}</span> posts</li>

                    <li *ngIf="bioData.followersCount==0"><span
                            class="profile-stat-count">{{bioData.followersCount}}</span> followers</li>
                    <li *ngIf="bioData.followersCount>0" (click)="getFollowers()" style="cursor: pointer;"><span
                            class="profile-stat-count">{{bioData.followersCount}}</span> followers</li>

                    <li *ngIf="bioData.followingCount==0"><span class="profile-stat-count">{{bioData.followingCount}}</span> following</li>
                    <li *ngIf="bioData.followingCount > 0" (click)="getFollowing()" style="cursor: pointer;">
                        <span class="profile-stat-count">{{bioData.followingCount}}</span> following
                    </li>

                </ul>

            </div>
            <div class="profile-bio">

                <span class="profile-real-name">{{bioData.fullName}}</span>
                <p>{{bioData.description}}</p>

            </div>


        </div>

        <!-- End of profile section -->

    </div>
    <!-- End of container -->
</div>